#################################################################################
##
##    Docker Compose File: FTP Server + Web File Manager
##
##    Function: FTP server with web-based file manager interface
##
##    Documentation: https://github.com/stilliard/docker-pure-ftpd
##                   https://github.com/filebrowser/filebrowser
##
#################################################################################

name: ${FTP_PROJECT_NAME:-ftp-stack}


services:
  ftp-server:
    image: stilliard/pure-ftpd:latest
    container_name: ftp-server
    restart: unless-stopped
    environment:
      - PUBLICHOST=${LOCAL_DOCKER_IP}
      - FTP_USER_NAME=${FTP_USER:?err}
      - FTP_USER_PASS=${FTP_PASS:?err}
      - FTP_USER_HOME=/home/ftpuser
      - FTP_PASSIVE_PORTS=40000:40009
      - ADDED_FLAGS=-d -d
    volumes:
      - ${FOLDER_FOR_FTP_STORAGE:?err}:/home/ftpuser:rw
    ports:
      - "20:20"
      - "21:21"
      - "40000-40009:40000-40009"
    networks:
      - ftp-network
    labels:
      - "autoheal=true"

  file-manager:
    image: filebrowser/filebrowser:latest
    container_name: file-manager
    restart: unless-stopped
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
    volumes:
      - ${FOLDER_FOR_CONFIG_DATA:?err}/file-manager:/config:rw
      - ${FOLDER_FOR_FTP_STORAGE:?err}:/srv:rw
      - ${FOLDER_FOR_MEDIA:?err}:/media:ro
    ports:
      - "${WEBUI_PORT_FILE_MANAGER:?err}:80"
    command: --config /config/filebrowser.json --database /config/database.db --address 0.0.0.0 --port 80 --root /srv
    networks:
      - ftp-network
    labels:
      - "autoheal=true"

networks:
  ftp-network:
    driver: bridge